*{
    margin: 0;
}
.phone{
    width: 50px;
}
.head{
    display: flex;
    justify-content: center;
    gap: 2%;
    margin: 20px;
}
.background1{
    height: 100vh;
    background-image: url(images/bg-image@3x.png);
    background-position: center;
    background-size: cover ;
    margin: 200px 500px;
    color: white;
    display: inline-block;
}
.section1{
    margin-left: 200px;
    margin-top: 100px;
}
.firstb{
    background-color: black;
    color: white;
    padding: 10px;
}
.secondb{
    background-color: rgb(255, 119, 0);
    padding: 2px 10px;
    color: white;
}
.likepapa{
    display: flex;
    gap: 5%;
    justify-content: center;
}
.section2{
    margin: 200px;
}
.h1{
    text-align: center;
}
.form1{
    display: flex;
    gap: 2%;
    justify-content: center;
}
input{
    padding: 10px;
}
.section2div2{
    margin: 100px;
}
.like{
    margin: 10px;
    border: 1px solid black;
    padding: 20px;
}
.homes{
    display: flex;
    justify-content: center;
    gap: 2%;
}
.Browse{
    margin-left: 337px;
}
.h2{
    margin-left: -300px;
}
.images{
    display: flex;
    gap: 3%;
    justify-content: center;
}
.secondbb{
    padding: 10px 20px;
    background-color: rgb(255, 119, 0);
    color: white;
}
.section2div5{
    display: flex;
    justify-content: center;
    gap: 1%;
}
.section6{
    height: 100vh;
    background-image: url(image\ copy\ 4.png);
    background-position: center;

}
.lll{
    width: 400px;
}
.lastform{
    margin-left: 700px;
    padding: 10px;
    background-color: white;
    background-size: cover;
}
.section7div1{
    display: flex;
    justify-content: center;
    gap: 2%;
}
.section7{
    background-color: rgb(69, 66, 120);
    color: white;
}